[submodule "src/saaga_mcp_servers/development/conduit"]
	path = src/saaga_mcp_servers/development/conduit
	url = https://github.com/codingthefuturewithai/conduit.git
[submodule "src/saaga_mcp_servers/development/mcp-cookie-cutter"]
	path = src/saaga_mcp_servers/development/mcp-cookie-cutter
	url = https://github.com/codingthefuturewithai/mcp-cookie-cutter.git
[submodule "src/saaga_mcp_servers/development/mcp-github"]
	path = src/saaga_mcp_servers/development/mcp-github
	url = https://github.com/github/github-mcp-server.git
[submodule "src/saaga_mcp_servers/research/gpt-researcher"]
	path = src/saaga_mcp_servers/research/gpt-researcher
	url = https://github.com/assafelovic/gpt-researcher.git
[submodule "src/saaga_mcp_servers/research/gptr-mcp"]
	path = src/saaga_mcp_servers/research/gptr-mcp
	url = https://github.com/assafelovic/gptr-mcp.git
[submodule "src/saaga_mcp_servers/operations/mcp-google-docs"]
	path = src/saaga_mcp_servers/operations/mcp-google-docs
	url = https://github.com/ophydami/MCP-Google-Doc.git
[submodule "src/saaga_mcp_servers/utils/elevenlabs-mcp"]
	path = src/saaga_mcp_servers/utils/elevenlabs-mcp
	url = https://github.com/elevenlabs/elevenlabs-mcp.git
