[submodule "src/saaga_mcp_servers/development/conduit"]
	path = src/saaga_mcp_servers/development/conduit
	url = https://github.com/codingthefuturewithai/conduit.git
[submodule "src/saaga_mcp_servers/development/mcp-cookie-cutter"]
	path = src/saaga_mcp_servers/development/mcp-cookie-cutter
	url = https://github.com/codingthefuturewithai/mcp-cookie-cutter.git
[submodule "src/saaga_mcp_servers/development/mcp-github"]
	path = src/saaga_mcp_servers/development/mcp-github
	url = https://github.com/github/github-mcp-server.git
